<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web RTC Meeting App</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <style>
        p.item {
            padding: 16px;
            text-align: center;
            border-radius: 8px;
            color: white;
            background-color: green;
        }
    </style>
</head>
<body class="bg-secondary">

    <h3 class="text-center my-5 text-light">User Login</h3>

    <!-- buộc toàn bộ dòng và cột phải bỏ trong class container -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-5">
                <div class="border p-3 rounded bg-light">
                    {{#if messages.error}}
                        <div id="passport-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Failed!</strong> {{messages.error}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            </button>
                        </div>
                    {{/if}}
                    {{#if messages.message}}
                        <div id="passport-alert" class="alert alert-{{messages.type}} alert-dismissible fade show" role="alert">
                            <strong>{{messages.type}}!</strong> {{messages.message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            </button>
                        </div>
                    {{/if}}
                    <form action="login" method="post">
                        <div class="form-group">
                            <label for="user">Username</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-person-circle"></i>
                                    </span>
                                </div>
                                <input id="username" name="email" type="text" class="form-control"
                                    placeholder="Email" required>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="pass">Password</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-lock"></i>
                                    </span>
                                </div>
                                <input type="password" name="password" class="form-control" placeholder="Password"
                                    required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                <label class="custom-control-label" for="customCheck">Remember</label>
                            </div>
                        </div>
                        {{!-- <div class="form-group">
                            <div class="alert alert-danger alert-dismissible fade show">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                Invalid username or password!
                            </div>
                        </div> --}}
                        <div class="form-group">
                            <button class="btn btn-success px-5" type="submit">Login</button>
                        </div>
                        <div class="form-group">
                            <p>Don't have any account? <a href="/register">Register now!</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>
</html>


