<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- clock -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js">
    </script>
</head>
<style>
    .icon-container {
        position: relative;
        display: inline-block;
    }

    .icon-container .bi-bell::after {
        content: '';
        position: absolute;
        top: -5px;
        right: -5px;
        width: 10px;
        height: 10px;
        background-color: green;
        border-radius: 50%;
        border: 2px solid white;
    }

    .profile-pic {
        display: inline-block;
        vertical-align: middle;
        width: 35px;
        height: 35px;
        overflow: hidden;
        border-radius: 50%;
    }

    .profile-pic img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .profile-menu .dropdown-menu {
        right: 0;
        left: unset;
    }

    .profile-menu .fa-fw {
        margin-right: 10px;
    }

    .left-panel .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .new-meeting,
    .join,
    .schedule,
    .share-screen {
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        color: #fff;
        cursor: grab;
    }

    .new-meeting:hover,
    .join:hover,
    .schedule:hover,
    .share-screen:hover {
        box-shadow: 0px 8px 15px -10px rgb(61, 61, 61);
        transform: translate(0px, -3px);
    }

    .new-meeting {
        background-color: #faa525;
    }

    .join {
        background-color: #7ED957;
    }

    .schedule {
        background-color: #7ED957;
    }

    .share-screen {
        background-color: #7ED957;
    }



    .clockdate-wrapper {
        background: #141E30;
        background: -webkit-linear-gradient(to right, #243B55, #141E30);
        background: linear-gradient(to right, #243B55, #141E30);
        padding: 25px;
        text-align: center;
        border-radius: 5px;
    }

    #clock {
        font-size: 40px;
        text-shadow: 0px 0px 1px #fff;
        color: #fff;
    }

    #clock span {
        color: rgba(255, 255, 255, 0.8);
        text-shadow: 0px 0px 1px #333;
        font-size: 30px;
        position: relative;
        top: -5px;
    }

    #date {
        letter-spacing: 3px;
        font-size: 14px;
        color: #fff;
    }

    #dateSche {
        letter-spacing: 3px;
        font-size: 14px;
        color: #fff;
    }

    .dropdown-menu {
        min-width: 120px !important;
    }

    .dropdown-item {
        padding: 0px 5px !important;
        font-size: 14px !important;
    }

    .modal-header {
        background-color: #007bff;
        color: white;
    }

    .tab button {
        display: block;
        background-color: inherit;
        color: gray;
        padding: 10px;
        width: 100%;
        border: none;
        outline: none;
        text-align: center;
        cursor: pointer;
        transition: 0.3s;
        font-size: 17px;
    }

    .tab button:hover {
        background-color: #f7f6f6;
        border-left: 5px solid #fbe3a7;
    }

    .tab button.active {
        color: #FBB040;
        font-weight: 600;
        border-left: 5px solid #fbc02d;
        background-color: #efeeee;
    }

    .hidden {
        display: none;
    }

    @media only screen and (max-width: 600px) {

        .right-box {
            display: none;
        }

        .content {
            justify-content: center;
        }

        .left-box {
            margin: auto;
        }
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="Assets/Images/GoChatHo.png" alt="" height="30">
            </a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-lg-0 profile-menu d-flex align-items-center">
                    <button class="pe-3 btn btn-light" href="#" role="button" role="button" data-bs-toggle="modal"
                        data-bs-target="#settingModal">
                        <div class="icon-container">
                            <i class="bi bi-gear h5"></i>
                        </div>
                    </button> <button class="pe-3 btn btn-light " href="#" role="button" id="noticDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="icon-container">
                            <i class="bi bi-bell h5"></i>
                        </div>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="noticDropdown">
                        <li class="px-3 py-2">
                            <div class="d-flex align-items-center">
                                <div class="me-3">
                                    <img src="Assets/Images/GoLogoNBg.png" height="25" alt="Profile Picture">
                                </div>
                                <div>
                                    <span>Nhat Quynh invites you to join the meeting <br> at 1:30 PM on
                                        July 6, 2024
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="px-3 py-2">
                            <div class="d-flex align-items-center">
                                <div class="me-3">
                                    <img src="Assets/Images/GoLogoNBg.png" height="25" alt="Profile Picture">
                                </div>
                                <div>
                                    <span>Nhat Quynh invites you to join the meeting <br> at 1:30 PM on
                                        July 6, 2024
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="px-3 py-2">
                            <div class="d-flex align-items-center">
                                <div class="me-3">
                                    <img src="Assets/Images/GoLogoNBg.png" height="25" alt="Profile Picture">
                                </div>
                                <div>
                                    <span>Nhat Quynh declines the invitation to join the meeting <br> at 1:30 PM on July
                                        6,
                                        2024.
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="profile-pic">
                                <img src="Assets/Images/GoLogoNBg.png" alt="Profile Picture">
                            </div>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="px-3 py-2">
                                <div class="d-flex align-items-center">
                                    <div class="me-3">
                                        <img src="Assets/Images/GoLogoNBg.png" height="30" alt="Profile Picture">
                                    </div>
                                    <div>
                                        <span>Phạm Nhật Quỳnh<br>
                                            <small>phamxxxxxxx@gmail.com</small>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-person-fill pe-2"></i></i>
                                    Account</a>
                            </li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-gear-fill pe-2"></i> Setting</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#"> Log Out</a>
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <div class="content">
        <div class="row m-0">
            <div class="left-box col-9 p-0">
                <div class="row" style="margin-top: 150px">
                    <div class="col d-flex align-items-end flex-column" style="margin: 20px 20px 0 0">
                        <div class="new-meeting"><i class="bi bi-camera-video-fill h1"></i></div>
                        <p>Meeting&emsp;</p>
                    </div>

                    <div class="col" style="margin: 20px 0 0 20px">
                        <div class="join" data-bs-toggle="modal" data-bs-target="#joinModal"><i
                                class="bi bi-plus-square-fill h1"></i></div>
                        <p>&emsp;&emsp;Join</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col d-flex align-items-end flex-column" style="margin: 10px 20px 0 0">
                        <div class="schedule" data-bs-toggle="modal" data-bs-target="#scheModal"><i
                                class="bi bi-calendar-date-fill h1"></i></div>
                        <p>Schedule&ensp;&nbsp;</p>
                    </div>
                    <div class="col" style="margin: 10px 0 0 20px">
                        <div class="share-screen" data-bs-toggle="modal" data-bs-target="#shareScreenModal"><i
                                class="bi bi-arrow-up-square-fill h1"></i></div>
                        <p>Share screen</p>
                    </div>
                </div>
            </div>
            <div class="col-3 p-0 bg-light right-box" style="min-height: calc(100vh - 70px); ">
                <div id="clockdate">
                    <div class="clockdate-wrapper">
                        <div id="clock"></div>
                        <div id="date"></div>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="listSche">
                        <input type="date" id="datetime3" class="btn btn-light date ">
                    </div>
                    <div class="pe-3 pt-2">
                        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#scheModal"><i
                                class="bi bi-calendar2-plus"></i></button>
                    </div>
                </div>
                <div class="host">
                    <div class="btn-group">
                        <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Host: Pham Nhat Quynh
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">Pham Nhat Quynh</li>
                            <li class="dropdown-item">Nhat Quynh Pham xinh nhat a</li>
                            <li class="dropdown-item">Quynh Pham Nhat</li>
                        </ul>
                    </div>
                </div>
                <div class="card-meet">
                    <div class="card m-2">
                        <div class="card-body p-2">
                            <div class="d-flex justify-content-between">
                                <small class="card-text text-danger">Now
                                </small>
                                <div class="dropdown">
                                    <i class="bi bi-three-dots-vertical" id="dropdownMenuButton"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item" href="#">Delete</a>
                                    </div>
                                </div>
                            </div>

                            <h6 class="card-title">Nhat Quynh Pham's meeting</h6>
                            <a href="#" class="btn btn-primary btn-sm">Join</a>
                            <small class="card-text text-secondary">Jun 26 11h:30PM - Jun 27 12h:00AM
                            </small>

                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-body p-2">
                            <div class="d-flex justify-content-between">
                                <small class="card-text text-danger">1 minutes
                                </small>
                                <div class="dropdown">
                                    <i class="bi bi-three-dots-vertical" id="dropdownMenuButton"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item" href="#">Delete</a>
                                    </div>
                                </div>
                            </div>

                            <h6 class="card-title">Nhat Quynh Pham's meeting</h6>
                            <a href="#" class="btn btn-primary btn-sm">Start</a>
                            <small class="card-text text-secondary">Jun 26 11h:30PM - Jun 27 12h:00AM
                            </small>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- settings -->
    <div class="modal fade" id="settingModal" tabindex="-1" aria-labelledby="settingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="settingModalLabel">Settings</h5>
                    <button type="button" class="btn-close btn-light" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-3">
                            <div class="tab">
                                <div class="tab-indicator">

                                </div>
                                <button class="tablinks" onclick="openCity(event, 'Camera')"
                                    id="defaultOpen">Camera</button>
                                <button class="tablinks" onclick="openCity(event, 'Audio')">Audio</button>
                            </div>
                        </div>
                        <div class="col-9">
                            <div id="Camera" class="tabcontent">
                                <div class="">
                                    <h6>Camera Check</h6>
                                    <div class="col-lg-7">
                                        <div class="selectors">
                                            <label for="videoInputSelect">Camera: </label>
                                            <select id="videoInputSelect"></select>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <br>
                                        <video id="video" height="150" autoplay></video>

                                    </div>

                                </div>
                            </div>
                            <div id="Audio" class="tabcontent">
                                <h6>Audio Test</h6>
                                <h6>Micrô</h6>
                                <button id="start-record-btn" class="btn btn-primary">Start
                                    Recording</button>
                                <button id="stop-record-btn" class="btn btn-primary" disabled>Stop
                                    Recording</button>
                                <br>
                                <br>
                                <h6>Loudspeaker</h6>
                                <button class="btn btn-primary" id="play-back-btn" disabled>Play Back</button>
                                <div id="output" class="hidden">
                                    <p>Recording...</p>
                                </div>
                                <div id="output2" class="hidden">
                                    <p>Playing...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- schedule -->
    <div class="modal fade" id="scheModal" tabindex="-1" aria-labelledby="scheModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="scheModalLabel">Schedule Meeting</h5>
                    <button type="button" class="btn-close btn-light" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <form action="">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="meetingName" class="form-label">Meeting Name</label>
                            <input type="text" class="form-control form-control-lg" id="meetingName" required
                                value="Nhat Quynh's Go Meeting">
                        </div>

                        <div class="mb-3 d-flex justify-content-between ">
                            <input type="datetime-local" id="datetime1" class="form-control form-control-sm">
                            <p class="m-2">To</p>
                            <input type="datetime-local" id="datetime2" class="form-control form-control-sm">
                        </div>

                        <div class="mb-3">
                            <label for="shareinputID" class="form-label">Attendes</label>
                            <input type="text" class="form-control" id="attendes" value=""
                                placeholder="Name or email address">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" id="scheduleButton" disabled>Create</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- shareScreen -->
    <div class="modal fade" id="shareScreenModal" tabindex="-1" aria-labelledby="shareScreenLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="shareScreenLabel">Share Screen</h5>
                    <button type="button" class="btn-close btn-light" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="shareinputID" class="form-label">Meeting ID or link</label>
                            <input type="text" class="form-control" id="shareinputID" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" id="shareButton" disabled>Join</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- Join Modal -->
    <div class="modal fade " id="joinModal" tabindex="-1" aria-labelledby="joinModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" style="border-radius: 10px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="joinModalLabel">Join Meeting</h5>
                    <button type="button" class="btn-close btn-light" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="inputID" class="form-label">Meeting ID or link</label>
                            <input type="text" class="form-control" id="inputID" required>
                        </div>
                        <div class="mb-3">
                            <label for="nameUser" class="form-label">Your name</label>
                            <input type="text" class="form-control" id="nameUser" required>
                        </div>
                        <div class="mb-2 form-check">
                            <input type="checkbox" class="form-check-input" id="conAudio">
                            <label class="form-check-label" for="conAudio">Don't connect to audio</label>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="offVideo">
                            <label class="form-check-label" for="offVideo">Turn off my video</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" id="joinButton" disabled>Join</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>

    //tabs
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
    //time
    document.addEventListener('DOMContentLoaded', function () {
        const now = new Date();
        const timezoneOffset = now.getTimezoneOffset() * 60000;
        const localTime = new Date(now - timezoneOffset);
        const formattedDate = localTime.toISOString().slice(0, 16);
        const nowPlus30Minutes = new Date(localTime.getTime() + 30 * 60000);
        const formattedDate2 = nowPlus30Minutes.toISOString().slice(0, 16);
        document.getElementById('datetime1').value = formattedDate;
        document.getElementById('datetime2').value = formattedDate2;
        const today = localTime.toISOString().split('T')[0];
        document.getElementById('datetime3').value = today;
    });
    //clock
    function startTime() {
        var today = new Date();
        var hr = today.getHours();
        var min = today.getMinutes();
        var sec = today.getSeconds();
        ap = (hr < 12) ? "<span>AM</span>" : "<span>PM</span>";
        hr = (hr == 0) ? 12 : hr;
        hr = (hr > 12) ? hr - 12 : hr;
        hr = checkTime(hr);
        min = checkTime(min);
        sec = checkTime(sec);
        document.getElementById("clock").innerHTML = hr + ":" + min + ":" + sec + " " + ap;

        var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        var days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
        var curWeekDay = days[today.getDay()];
        var curDay = today.getDate();
        var curMonth = months[today.getMonth()];
        var curYear = today.getFullYear();
        var date = curWeekDay + ", " + curDay + " " + curMonth + " " + curYear;
        document.getElementById("date").innerHTML = date;

        var time = setTimeout(function () { startTime() }, 500);
    }
    function checkTime(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }
    startTime();

    //input Join
    document.addEventListener('DOMContentLoaded', function () {
        const inputID = document.getElementById('inputID');
        const nameUser = document.getElementById('nameUser');
        const joinButton = document.getElementById('joinButton');

        function toggleJoinButton() {
            joinButton.disabled = !(inputID.value.trim() && nameUser.value.trim());
        }

        inputID.addEventListener('input', toggleJoinButton);
        nameUser.addEventListener('input', toggleJoinButton);
        toggleJoinButton();
    });

    //input Share
    document.addEventListener('DOMContentLoaded', function () {
        const shareinputID = document.getElementById('shareinputID');
        const shareButton = document.getElementById('shareButton');

        function toggleShareButton() {
            shareButton.disabled = !(shareinputID.value.trim());
        }
        shareinputID.addEventListener('input', toggleShareButton);
        toggleShareButton();
    });
    //input Schedule
    document.addEventListener('DOMContentLoaded', function () {
        const attendes = document.getElementById('attendes');
        const meetingName = document.getElementById('meetingName');

        function toggleScheButton() {
            scheduleButton.disabled = !(attendes.value.trim() && meetingName.value.trim());
        }
        meetingName.addEventListener('input', toggleScheButton);
        attendes.addEventListener('input', toggleScheButton);

        toggleScheButton();
    });

    //camera
    const videoElement = document.getElementById('video');
    const videoInputSelect = document.getElementById('videoInputSelect');

    function getDevices() {
        return navigator.mediaDevices.enumerateDevices();
    }

    function gotDevices(deviceInfos) {
        videoInputSelect.innerHTML = '';
        deviceInfos.forEach(deviceInfo => {
            if (deviceInfo.kind === 'videoinput') {
                const option = document.createElement('option');
                option.value = deviceInfo.deviceId;
                option.text = deviceInfo.label || `Camera ${videoInputSelect.length + 1}`;
                videoInputSelect.appendChild(option);
            }
        });
    }

    function start() {
        if (window.stream) {
            window.stream.getTracks().forEach(track => {
                track.stop();
            });
        }

        const videoSource = videoInputSelect.value;
        const constraints = {
            video: { deviceId: videoSource ? { exact: videoSource } : undefined }
        };

        navigator.mediaDevices.getUserMedia(constraints).then(gotStream).catch(handleError);
    }

    function gotStream(stream) {
        window.stream = stream;
        videoElement.srcObject = stream;

        return getDevices().then(gotDevices);
    }

    function handleError(error) {
        console.error('Error: ', error);
    }

    videoInputSelect.onchange = start;

    document.getElementById('settingModal').addEventListener('shown.bs.modal', () => {
        getDevices().then(gotDevices).then(start).catch(handleError);
    });

    document.getElementById('settingModal').addEventListener('hidden.bs.modal', () => {
        if (window.stream) {
            window.stream.getTracks().forEach(track => {
                track.stop();
            });
        }
    });

    //audio
    let audioContext;
    let recorder;
    let audioChunks = [];
    var recording = document.getElementById('output');
    var playing = document.getElementById('output2');
    var playback = document.getElementById('play-back-btn');
    var startbtn = document.getElementById('start-record-btn');
    var stopbtn = document.getElementById('stop-record-btn');

    let activeStream = null; // Để lưu trữ stream hiện tại

    startbtn.addEventListener('click', async () => {
        // Xóa âm thanh cũ và dữ liệu
        const audioElements = document.querySelectorAll('audio');
        audioElements.forEach(audio => {
            if (!audio.paused) {
                audio.pause();
                audio.currentTime = 0;
            }
        });
        audioChunks = [];

        // Khởi tạo ghi âm mới
        audioContext = new (window.AudioContext || window.webkitAudioContext)();
        const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
        const input = audioContext.createMediaStreamSource(stream);
        recorder = new MediaRecorder(stream);
        activeStream = stream;

        recorder.ondataavailable = event => {
            audioChunks.push(event.data);
        };

        recorder.onstop = () => {
            const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
            const audioUrl = URL.createObjectURL(audioBlob);
            const audio = new Audio(audioUrl);
            playback.disabled = false;
            playing.classList.add('hidden');

            playback.addEventListener('click', () => {
                audio.play();
                playing.classList.remove('hidden');
            });
        };

        recorder.start();
        startbtn.disabled = true;
        playback.disabled = true;
        stopbtn.disabled = false;
        recording.classList.remove('hidden');
        playing.classList.add('hidden');
    });

    stopbtn.addEventListener('click', () => {
        if (recorder && recorder.state !== 'inactive') {
            recorder.stop();
            audioContext.close();
            if (activeStream) {
                activeStream.getTracks().forEach(track => track.stop());
                activeStream = null;
            }
            startbtn.disabled = false;
            stopbtn.disabled = true;
            recording.classList.add('hidden');
        }
    });

    document.getElementById('settingModal').addEventListener('hidden.bs.modal', () => {
        // Dừng ghi âm và giải phóng tài nguyên nếu đang ghi âm
        if (recorder && recorder.state !== 'inactive') {
            recorder.stop();
            audioContext.close();
            if (activeStream) {
                activeStream.getTracks().forEach(track => track.stop());
                activeStream = null;
            }
        }

        // Dừng phát lại âm thanh nếu có
        const audioElements = document.querySelectorAll('audio');
        audioElements.forEach(audio => {
            if (!audio.paused) {
                audio.pause();
                audio.currentTime = 0;
            }
        });

        // Xóa âm thanh cũ và dữ liệu
        audioChunks = [];

        // Reset UI elements
        startbtn.disabled = false;
        playback.disabled = true;
        stopbtn.disabled = true;
        recording.classList.add('hidden');
        playing.classList.add('hidden');
    });



</script>

</html>