<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoChat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

    body {
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        background: #ffffff;
    }

    button {
        transition: .5s;
        transform: translate(0px, 0px);
    }

    button:hover {
        box-shadow: 0px 8px 15px -10px rgb(61, 61, 61);
        transform: translate(0px, -3px);
    }

    .box-area {
        width: 930px;
    }

    .left-box {
        padding: 40px 30px 40px 40px;
    }

    ::placeholder {
        font-size: 16px;
    }

    .rounded-4 {
        border-radius: 20px;
    }

    .rounded-5 {
        border-radius: 30px;
    }

    @media only screen and (max-width: 768px) {
        .box-area {
            margin: 0 10px;
        }

        .left-box {
            padding: 20px;
        }

        .right-box {
            height: 0px;
            overflow: hidden;
        }
    }
</style>

<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
            <div class="col-md-6 left-box " id="signUp">
                <div class="row align-items-center">
                    <div class="header-text mb-3">
                        <h2>Create your account</h2>
                        <p>Sign up and start a journey with us</p>
                        {{!-- {{#if messages.error}}
                            <div id="passport-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Failed!</strong> {{messages.error}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                </button>
                            </div>
                        {{/if}} --}}
                        {{#if messages.message}}
                            <div id="passport-alert" class="alert alert-{{messages.type}} alert-dismissible fade show" role="alert">
                                <strong>{{messages.type}}!</strong> {{messages.message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                </button>
                            </div>
                        {{/if}}
                    </div>
                    <form action="/signup" class="w-100" method="post">
                        <!-- fullname -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-3 border-md border-right-0">
                                    <i class="bi bi-person-fill"></i>
                                </span>
                            </div>
                            <input id="fullName" type="text" name="fullname" placeholder="Full Name"
                                class="form-control bg-white border-left-0 border-md">
                        </div>
                        <!-- email -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-3 border-md border-right-0">
                                    <i class="bi bi-envelope-fill"></i>
                                </span>
                            </div>
                            <input id="email" type="text" name="email" placeholder="Email"
                                class="form-control bg-white border-left-0 border-md">
                        </div>
                        <!-- password -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-3 border-md border-right-0">
                                    <i class="bi bi-lock-fill"></i>
                                </span>
                            </div>
                            <input id="password" type="password" name="password" placeholder="Password"
                                class="form-control bg-white border-left-0 border-md">
                        </div>
                        <!-- confirm password -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-3 border-md border-right-0">
                                    <i class="bi bi-lock-fill"></i>
                                </span>
                            </div>
                            <input id="cpassword" type="password" name="cfpassword" placeholder="Confirm Password"
                                class="form-control bg-white border-left-0 border-md">
                        </div>
                        <div class="form-check mb-3">
                            <input type="checkbox" required class="form-check-input " id="formCheck">
                            <label for="formCheck" class="form-check-label text-secondary"><small>I accept the Term of
                                    User
                                    & Privacy Policy</small></label>
                        </div>
                        <button class="btn btn-lg w-100 fs-6 btn-primary mt-2 mb-3" type="submit"
                            style=" color: white">Register</button>
                    </form>
                    <button class="btn btn-lg btn-light w-100 fs-6 mb-3"><img src="/images/google.png"
                            style="width:20px" class="me-2"><small> Sign Up with Google</small></button>
                    <small>Already have an account? <a class="links" href="/login" id="loginLink">Sign In</a>
                    </small>
                    </form>
                </div>

            </div>
            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column right-box"
                style="background: #103cbe;">
                <div class="featured-image mb-3">
                    <img src="/images/GoChatNBg.png" class="img-fluid" style="width: 250px;">
                </div>
                <br>
                <p class="text-white text-wrap text-center"
                    style="width: 17rem;font-family: 'Courier New', Courier, monospace;">
                    Connect Face-to-Face, Anytime,
                    Anywhere.</p>
            </div>


        </div>
    </div>
</body>

</html>