
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web RTC Meeting App</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
    <h1>{{user.fullName}}</h1>
    <form action="/logout" method="get">
        <button type="submit">Logout</button>
    </form>
    <form action="createMeeting" method="post">
        <button type="submit">Create</button>
    </form>

    <form action="" method="get" id="join-meeting">
        <input type="text" name="" id="meeting-id">
        <button type="button" onclick=joinMeeting(event)>Join a meeting</button>
        <button type="button" onclick=createAccount()>TẠO ACCOUNT HÀNG LOẠT</button>
    </form>
</body>
<script>
    function createAccount(){
        for (var i = 31; i <= 50; i++) {
            $.ajax({
                url: 'http://localhost:3000/signup',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    fullname: `Nguyen Van Hao ${i}`,
                    email: `user${i}@gmail.com`,
                    password: "$2b$10$zUgT3d3b0xZRZOypaBM8KegTZVT6Fgr8e9GBLlwrMUn7rHqOrasBS",
                    cfpassword: "$2b$10$zUgT3d3b0xZRZOypaBM8KegTZVT6Fgr8e9GBLlwrMUn7rHqOrasBS"
                }),
                success: function(response) {
                    console.log('Signup success:', response);
                },
                error: function(xhr, status, error) {
                    console.error('Signup error:', xhr.responseText);
                }
            });
        }
    }
    const socket = new WebSocket("{{ws_url}}"); 
    //const socket = new WebSocket('wss://videochatapp.online');
    socket.onmessage = async (message) => {
        const data = JSON.parse(message.data);
        console.log('Received:', data);
        console.log(data.data.exists);
        switch (data.action) {
            case 'checked-result':
                if (data.data.existed) {
                    $("#join-meeting").submit();
                }
                else {
                    alert("Room not found");
                }
                break;
            default:
                console.error('Unknown message type:', data.type);
        }
    };

    function joinMeeting(e) {
        e.preventDefault();
        let meetingId = $("#meeting-id").val();
        if (meetingId !== "") {
            $("#join-meeting").attr("action", meetingId);
            socket.send(JSON.stringify({ action: 'check-room-existed', roomId: meetingId.trim() }));
            //$("#join-meeting").submit();
        } else {
            alert("Please enter a valid meeting ID.");
        }
    }
</script>

</html>